.book{
    font-family: "Goudy Bookletter 1911", serif;
    font-weight: 400;
    font-style: normal;
}

.nav-logo{

   display: flex;
   align-items: center;
   gap: 10px;


}
.banner-text-1{

   font-size: 70px;
   font-weight: bold;
   color: black;
   line-height: 80px;


}
.banner-flex{

   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
  

}
.banner-mother{
 

  background-color: rgba(0, 172, 172, 0.096);  
  border-radius: 10px;

     
}
.book-div{

   margin-top: 50px;
   margin-bottom: 50px;
   margin-left: 80px;
   margin-right: 80px;

}
.book-text{

   text-align: center;
   font-size: 50px;

}
.book-img{
   
   height: 60px;

} 
.book-flex{

  display: flex;
  justify-content: center;
  gap: 5px;

}
.details-image{

  height: 300px;
  width: 300px;

}
.young-text{

  background-color: rgba(0, 217, 255, 0.116)  ;
  width: 120px;
  text-align: center;
  border-radius: 5px;
  color: green;
  font-weight: 500;

}
.yi-text{

  display: flex;
  align-items: center;
  gap: 10px;


}
.book-name{

  
  font-size: 20px; 
  margin-top: 20px;

}
.hr-div{

  margin-top: 20px;
  margin-bottom: 20px;

}
.rating-div{

  display: flex;
  align-items: center;
  gap: 10px;

}
.vr-div{

  display: flex;
  justify-content: space-between;

}
.book-grid-div{

  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;


}
.book-data-div{
  
  display: flex;
  justify-content: center;
  margin-top: 40px;


}
.book-details-div{

  border: 1px,  solid rgba(128, 128, 128, 0.377);
  padding: 20px;
 
}
.per-book-div{

  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 80px;
  margin-right: 80px;

}
.per-flex{

  display: flex;
  justify-content: center;

}
.per-bg{

  background-color: black;

}
.IC-text{

  margin-bottom: 20px;
  font-size: 20px;

}
.read-div{

   margin-top: 40px;
   margin-bottom: 40px;

}
.chart-div{

   margin-top: 80px;
   margin-bottom: 80px;
   margin-left: 80px;
   margin-right: 80px;
   display: flex;
   justify-content: center;


}

  